<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Home-Page/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>Home Page</title>
</head>
<body>
    <header>
            <div class="container">
                <div class="logo-container">
                    <img src="../../assets/store.png" alt="Logo Muras.Store">
                    <div id="logo-text">
                        <p><a href=""><strong>Muras.</strong>Store</a></p>
                    </div>
                </div>

                    <nav id="navbar">
                        <ul>
                            <li><a href="">Produtos</a></li>
                            <li><a href="">Quem somos</a></li>
                            <li><a href="">Contato</a></li>
                        </ul>
                    </nav>

                    <div id="shopping-cart">
                        <img src="../../assets/shopping-cart.png" alt="Carrinho de compras">
                        <h2>R$ 0,00</h2>
                    </div>

                    <button id="btn-menu" onclick="Menu.toggleMenu()">Menu</button>
            </div>
    </header>

    <main class="main-container">
        <div class="container">
            <section id="text-section">
                    <h2>Bem vindo, viajante! Pare um pouco e confira os itens da loja.</h2>
                    <h2>Aqui temos todas as variedades de roupas especiais para suas viajens interplanetárias.</h2>
            </section>

            <section id="image-section">
                <img src="../../assets/home-page-icon.png" alt="Astronauta anfitrião">
            </section>
        </div>
    </main>
    <footer>Muras.Code</footer>

    <script src="scripts.js"></script>
</body>
</html>