:root{
    --light-black: #443E52;
    --dark-black: #2E2B38;
    --light-green: #3DD705;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    width: 100vw;
    background: var(--dark-black);
    color: white;
}

a{
    text-decoration: none;
}

header{
    color: white;
    padding: 25px 0 25px;
    background: var(--light-black);
}

header a{
    color: white;
}

.container{
    margin: 0 auto;
    padding: 0 200px;
}

header .container{
    height: 100%;
    display: flex;
    align-items: center;
}

header .logo-container{
    display: flex;
    align-items: center;
}

header .logo-container img{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

header .logo-container #logo-text{
    font-size: 25px;
    font-weight: 100;
}

header #navbar{
    width: 400px;
    margin: 0 auto; 
}

header #navbar ul{
    display: flex;
    justify-content: space-between;
}

header #navbar ul li{
    list-style: none;
    font-size: 18px;
}

header #shopping-cart{
    display: flex;
    align-items: center;
}

header #shopping-cart img{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

header #shopping-cart h2{
    font-size: 18px;
    font-weight: 100;
    color: var(--light-green);
}

body main{
    height: 100%;
}

body main .container{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container #text-section h2{
    font-size: 40px;
    font-weight: normal;
}

.main-container #text-section h2:first-child{
    margin-bottom: 50px;
}

.main-container #image-section img{
    width: 600px;
    height: 600px;
}

footer{
    text-align: center;
    padding: 4rem 0 2rem;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    header #navbar{
        overflow: hidden;
        opacity: 0;
        width: 1px;
        height: 1px;
        margin: -1;
    }
    main .container{
        flex-direction: column;
    }

    .main-container #text-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main-container #text-section h2:first-child{
        font-size: 30px;
    }
    .main-container #text-section h2:last-child{
        width: 1px;
        height: 1px;
        overflow: hidden;
        opacity: 0;
    }
}

